/* ==========================================================================
   Spinner
   ========================================================================== */
.spinner--overlay {
    position: relative;
}
.spinner-wrapper {
    display: none;

    .is-loading & {
        display: inline-block;
    }
}
/* ==========================================================================
   Overlay
   ========================================================================== */
.spinner--overlay {
    .spinner-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        transition: .3s;
    }
    .spinner-wrapper-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        padding: 15px;
        margin: -30px;
        width: 44px;
        height: 44px;
    }
    .spinner-text {
        position: absolute;
        bottom: -60px;
        left: 50%;
        z-index: 5;
        width: 300px;
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
        transform: translateX(-50%);
    }

    &.l-spinner {
        .spinner-wrapper-inner {
            background: no-repeat center #ff5a60;
            border-radius: 50%;
        }

        &.is-loading {
            &.svg-oval .spinner-wrapper-inner {
                background-image: url("../demo/images/oval.svg");
            }
            &.svg-puff .spinner-wrapper-inner {
                background-image: url("../demo/images/puff.svg");
            }
            &.svg-tail-spin .spinner-wrapper-inner {
                background-image: url("../demo/images/tail-spin.svg");
            }
            &.svg-multi-semicircle .spinner-wrapper-inner {
                background-image: url("../demo/images/multi-semicircle.svg");
            }
            &.svg-semicircle .spinner-wrapper-inner {
                background-image: url("../demo/images/semicircle.svg");
            }
            &.svg-circle-dot .spinner-wrapper-inner {
                background-image: url("../demo/images/circle-dot.svg");
            }
        }
    }
}

/* ==========================================================================
   Inline
   ========================================================================== */
.spinner--inline {
    .spinner-wrapper {
        position: relative;
        z-index: 5;
        padding: 10px 20px;
        background: no-repeat #fff;
        border-radius: 5px;

        p {
            margin: 0;
        }
    }
    &.l-spinner .spinner-wrapper {
        padding-left: 50px;
        background-image: url("../demo/images/spinner-inline.gif");
        background-position: 20px center;
    }
}

/* ==========================================================================
   Button
   ========================================================================== */
.spinner--button {
    &.l-spinner .spinner-wrapper {
        margin-right: 5px;
        width: 16px;
        height: 11px;
        background: url("../demo/images/spinner-inline.gif") no-repeat;
    }
    &.is-loading .icon {
        display: none;
    }
}